.sidebar {
  width: 15rem !important;
}

.theme-default-content:not(.custom) {
  max-width: none !important;
  padding: 2rem 5rem !important;
}

.page-nav {
  max-width: none !important;
  padding: 2rem 5rem !important;
}
