// 卡片 可拖拽的
.aw-dialog {
  // 固定了弹窗的位置
  position: fixed;
  left: 50%;
  top: 50%;
  // transform: translate(-50%, -50%);
  z-index: 99;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
  .aw-dialog-header {
    border: none;
    padding: 20px 20px 10px;
    position: relative;
    border-radius: 5px 5px 0 0;

    .clearfix {
      display: flex;
      justify-content: space-between;
      .tab {
        line-height: 24px;
        font-size: 18px;
      }
      .aw-dialog-close {
        position: absolute;
        right: 20px;
        top: 20px;
        cursor: pointer !important;
        font-size: 16px;
      }
    }
  }

  .aw-dialog-body {
    padding: 30px 20px;
  }

  .aw-dialog-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px 20px;
    box-sizing: border-box;
    border-radius: 0 0 5px 5px;
  }
}

.aw-dialog-dark {
  .aw-dialog-header {
    color: #fff;
    background: #30323d;
    .aw-dialog-close {
      color: #fff;
    }
  }
  .aw-dialog-body {
    color: #fff;
    background: #30323d;
  }
  .aw-dialog-footer {
    background: #30323d;
  }
}
