.aw-link {
  color: #606266;
  cursor: pointer;
  
  display: inline-block;
}
.aw-link:first-child {
  padding-left: 0;
}
.aw-link:last-child {
  padding-right: 0;
}
.aw-link.is-disabled {
  cursor: not-allowed;
  color: #c0c4cc;
}
.aw-link-primary {
  color: #409eff;
  &:hover {
    color: #66b1ff;
  }
}
.aw-link-primary.is-disabled {
  color: #a0cfff;
}
.aw-link-success {
  color: #67c23a;
  &:hover {
    color: #85ce61;
  }
}
.aw-link-success.is-disabled {
  color: #b3e19d;
}
.aw-link-info {
  color: #909399;
  &:hover {
    color: #a6a9ad;
  }
}
.aw-link-info.is-disabled {
  color: #c8c9cc;
}
.aw-link-warning {
  color: #e6a23c;

  &:hover {
    color: #ebb563;
  }
}
.aw-link-warning.is-disabled {
  color: #f3d19e;
}
.aw-link-danger {
  color: #f56c6c;

  &:hover {
    color: #f78989;
  }
}
.aw-link-danger.is-disabled {
  color: #fab6b6;
}
