.aw-split-pane {
  height: 100%;
  width: 100%;
  display: flex;

  &.row {
    .aw-pane {
      height: 100%;
    }
    .aw-pane-trigger {
      height: 100%;
    }
  }
  &.column {
    .aw-pane {
      width: 100%;
    }
    .aw-pane-trigger {
      width: 100%;
    }
  }

  .aw-pane-left {
  }
  .aw-pane-trigger {
    height: 100%;
    background: #e5e6eb;
    opacity: 0.2;
    user-select: none; //禁止选中的效果
    &-button {
      width: calc(100% - 2px);
      height: 10px;

      // height: calc(100% - 2px);
      // width: 10px;
      
      margin: 0 auto;
      position: relative;
      top: 50%; /*偏移*/
      transform: translateY(-50%);
      border-radius: 2px;
      div {
        margin: 2px 0;
        width: 100%;
        height: 1px;
        background-color: #000;
      }
    }
  }
  .aw-pane-right {
    flex: 1;
  }
}
